asgiref==3.2.10
astroid==2.4.2
autopep8==1.5.4
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
cryptography==3.1
cssselect==1.1.0
Django==3.1
django-cors-headers==3.4.0
django-rest-knox==4.1.0
djangorestframework==3.11.1
feedfinder2==0.0.4
feedparser==5.2.1
idna==2.10
isort==5.4.2
jieba3k==0.35.1
joblib==0.16.0
lazy-object-proxy==1.4.3
lxml==4.5.2
mccabe==0.6.1
newspaper3k==0.2.8
nltk==3.5
Pillow==7.2.0
pycodestyle==2.6.0
pycparser==2.20
pylint==2.6.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
regex==2020.7.14
requests==2.24.0
requests-file==1.5.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
tinysegmenter==0.3
tldextract==2.2.3
toml==0.10.1
tqdm==4.48.2
urllib3==1.25.10
wrapt==1.12.1
