{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}Herodotus Archives</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/quill.core.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link href="{% static 'fonts/fontawesome/css/all.css' %}" rel="stylesheet">
        <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    </head>
    <body>
        <div class="nav">
            <div class="logo">
                <a href="/"><img src="{% static 'assets/logo.png' %}"></a>
            </div>
            <div class="search">
                <input type="text" placeholder="Search">
            </div>
            <div class="links">
                <a href="/add"><i class="fa fa-plus"></i></a>
                <a href="#"><i class="fa fa-users-cog"></i></a>
            </div>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>